<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<!-- Static URLs -->
	<http pattern="/css/**" security="none" />
	<http pattern="/js/**" security="none" />
	<http pattern="/auth/login.do" security="none" />
	<!-- Spring-Security 的配置 -->
	<!-- 注意开启use-expressions.表示开启表达式. see:http://www.family168.com/tutorial/springsecurity3/html/el-access.html -->
	<http auto-config="true" access-denied-page="/auth/denied">
		<intercept-url pattern="/**" access="ROLE_ADMIN"/>
		<form-login login-page="/auth/login.do"
			authentication-failure-url="/auth/login.do?error=true"
			default-target-url="/main/common.do" always-use-default-target="true" />

		<logout invalidate-session="true" logout-success-url="/auth/login.do"
			logout-url="/auth/logout.do" />

	</http>

	<!-- 指定一个自定义的authentication-manager :customUserDetailsService -->

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="admin" password="1" authorities="ROLE_USER, ROLE_ADMIN" />
			</user-service>
		</authentication-provider>
	</authentication-manager>


</beans:beans>

